<h1>Show Page</h1>
<h2>Title:</h2>
<%= @link.title %>
<h2>URL:</h2>
<%= @link.url%>
<div>
	<%if @link.user == current_user%>
		<h5><%= link_to "back", links_path%></h5>
		<h5><%= link_to "edit", edit_link_path(@link)%></h5>
		<h5><%= link_to "delete", @link, method: :delete%></h5>
	<%else%>
		<h5><%= link_to "back", links_path%></h5>
	<%end %>

</div>