<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class='clearfix'>
  <div class="left-nav">
    <ul>
      <li><%= link_to "Home", links_path %></li>
    </ul>
  </div>
  <div class="right-nav">
    <ul>
      <li><%= link_to "Add a link", new_link_path %></li>
    </ul>
  </div>
</header>
  <div class = 'content'>
    <%= yield %>
  </div>
  </body>
</html>
